<section class="footer-social">
  <link rel="preload" href="/stylesheets/footer-social.css" as="style" onload="this.rel='stylesheet'">

  <div class="footer-social__content">
    <%= partial "components/social-links" %>
  </div>
</section>