
<div class="hero content-wrapper">
  <link rel="stylesheet" href="/stylesheets/hero.css" media="all"  />
  
  <div class="hero__media-wrapper hero__media-wrapper--adapt">
    <img srcset="https://placehold.co/400x200/webp?text=Hero+Image 400w,
                    https://placehold.co/500x250/webp?text=Hero+Text 500w,
                    https://placehold.co/600x300/webp?text=Hero+Text 600w,
                    https://placehold.co/700x350/webp?text=Hero+Text 700w,
                    https://placehold.co/800x400/webp?text=Hero+Text 800w,
                    https://placehold.co/900x450/webp?text=Hero+Text 900w,
                    https://placehold.co/1000x500/webp?text=Hero+Text 1000w,
                    https://placehold.co/1100x550/webp?text=Hero+Text 1100w,
                    https://placehold.co/1200x600/webp?text=Hero+Text 1200w,
                    https://placehold.co/1300x650/webp?text=Hero+Text 1300w,
                    https://placehold.co/1400x700/webp?text=Hero+Text 1400w,
                    https://placehold.co/1500x750/webp?text=Hero+Text 1500w,
                    " src="https://placehold.co/1500x750/webp?text=Hero+Image"  sizes="100vw"  class="media-with-text__image" alt="Hero Image" />
  </div>

  <div class="hero__content-wrapper hero__content-wrapper--middle-center">
    <div class="hero__content hero__content--middle-center vertical-flow">
      <div class="hero__block hero__block--heading">
        <h2 class="section-heading heading-2 no-margin text-center" style="color: inherit">Lorem ipsum dolor sit amet</h2>
      </div>

      <div class="hero__block hero__block--text">
        <div class="section-text text-center" style="color: inherit">
          <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>

      <div class="hero__block hero__block--buttons">
        <div class="section-buttons section-buttons--row section-buttons--center">
          <div class="section-buttons__button section-buttons__button--1">
            <a href="#" class="button" role="button" aria-label="Button">
              Button
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>