
<div class="hero content-wrapper">
  <div class="hero__media-wrapper hero__media-wrapper--adaptive">
  <picture>
    <!-- WebP images for modern browsers -->
    <source 
      srcset="https://placehold.co/400x200/webp?text=Hero+Image 400w,
              https://placehold.co/800x400/webp?text=Hero+Text 800w,
              https://placehold.co/1200x600/webp?text=Hero+Text 1200w,
              https://placehold.co/1500x750/webp?text=Hero+Text 1500w"
      sizes="100vw" 
      type="image/webp">
    
    <!-- Fallback for browsers  -->
    <source 
      srcset="https://placehold.co/400x200?text=Hero+Image 400w,
              https://placehold.co/800x400?text=Hero+Text 800w,
              https://placehold.co/1200x600?text=Hero+Text 1200w,
              https://placehold.co/1500x750?text=Hero+Text 1500w"
      sizes="100vw">
    
    <!-- Default Image-->
    <img src="https://placehold.co/1500x750?text=Hero+Image"
        alt="Hero Image" 
        width="1500"
        height="750"
        class="hero__media fit-image" 
        loading="lazy">
  </picture>
  </div>

  <div class="hero__content-wrapper hero__content-wrapper--middle-center">
    <div class="hero__content hero__content--middle-center vertical-flow">
      <div class="hero__block hero__block--heading">
        <h2 class="section-heading heading-2 no-margin text-center" style="color: inherit">Lorem ipsum dolor sit amet</h2>
      </div>

      <div class="hero__block hero__block--text">
        <div class="section-text text-center" style="color: inherit">
          <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>

      <div class="hero__block hero__block--buttons">
        <div class="section-buttons section-buttons--row section-buttons--center">
          <div class="section-buttons__button section-buttons__button--1">
            <a href="#" class="button" role="button" aria-label="Button">
              Button
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>