<div class="mega-menu">
  <link rel="preload" href="/stylesheets/mega-menu.css" as="style" onload="this.rel='stylesheet'">

  <div class="content-wrapper">
    <!-- There are no changes expected from this point down into the DOM -->
    <%= partial "data/#{ item }" %>
  </div>
</div>