<div class="page-footer">
  <link rel="preload" href="/stylesheets/page-footer.css" as="style" onload="this.rel='stylesheet'">

  <footer class="page-footer__content content-wrapper">
    <%= partial "components/footer-menus" %>

    <%= partial "components/footer-email" %>

    <%= partial "components/footer-social" %>

    <%= partial "components/footer-utility" %>
  </div>
</footer>