<section id="shopify-section-template--17841128014003__a44ffb80-aa2e-461f-b6cf-a7e2beba26a6" class="shopify-section shopify-section--hero">
  <style>
    #shopify-section-template--17841128014003__a44ffb80-aa2e-461f-b6cf-a7e2beba26a6 .hero__content-wrapper {

      @media screen and (max-width: 768px),
      print {
        align-self: center !important;
        justify-self: center !important;
      }
    }

    #shopify-section-template--17841128014003__a44ffb80-aa2e-461f-b6cf-a7e2beba26a6 .hero__content {}
    @layer components{.hero{display:-ms-grid;display:grid;position:relative;grid-template-areas:"media"}.hero__media-wrapper{-ms-grid-row:1;-ms-grid-column:1;grid-area:media}@media screen and (min-width: 768px),print{.hero__media-wrapper--small{max-height:300px}}@media screen and (min-width: 768px),print{.hero__media-wrapper--medium{max-height:360px}}@media screen and (min-width: 768px),print{.hero__media-wrapper--large{max-height:420px}}.hero__media--placeholder{display:block;background:var(--color-grays-02)}.hero__content-wrapper{-ms-grid-row:1;-ms-grid-column:1;display:flex;grid-area:media;flex-direction:column;padding:var(--spacing-unit-xs)}.hero__content-wrapper--top-left{align-self:flex-start;justify-self:flex-start}.hero__content-wrapper--top-center{align-self:flex-start;-ms-grid-column-align:center;justify-self:center}.hero__content-wrapper--top-right{align-self:flex-start;justify-self:flex-end}.hero__content-wrapper--middle-left{-ms-grid-row-align:center;align-self:center;justify-self:flex-start}.hero__content-wrapper--middle-center{-ms-grid-row-align:center;align-self:center;-ms-grid-column-align:center;justify-self:center}.hero__content-wrapper--middle-right{-ms-grid-row-align:center;align-self:center;justify-self:flex-end}.hero__content-wrapper--bottom-left{align-self:flex-end;justify-self:flex-start}.hero__content-wrapper--bottom-center{align-self:flex-end;-ms-grid-column-align:center;justify-self:center}.hero__content-wrapper--bottom-right{align-self:flex-end;justify-self:flex-end}.hero__content{padding:var(--spacing-unit-m);max-width:700px}}
  </style>

  <div class="shopify-section__content">
    <%= partial "components/hero" %>
  </div>
</section>

<section id="shopify-section-template--17841128014003__media_with_text_jNYbA3" class="shopify-section shopify-section--media-with-text">
  <style>
    @layer components {
      #shopify-section-template--17841128014003__media_with_text_jNYbA3 {
        margin-top: calc(var(--spacing-unit-xl) * 0.75);
        margin-bottom: calc(var(--spacing-unit-xl) * 0.75);
        padding-top: calc(var(--spacing-unit-0) * 0.75);
        padding-bottom: calc(var(--spacing-unit-0) * 0.75);

        @media screen and (min-width: 768px),
        print {
          margin-top: var(--spacing-unit-xl);
          margin-bottom: var(--spacing-unit-xl);
          padding-top: var(--spacing-unit-0);
          padding-bottom: var(--spacing-unit-0);
        }
      }
    }
  </style>

  <style>
    @layer components {

      @media screen and (min-width: 768px),
      print {
        #shopify-section-template--17841128014003__media_with_text_jNYbA3 .media-with-text__image-wrapper {
          grid-column: 1 / span 7 !important;
        }

        #shopify-section-template--17841128014003__media_with_text_jNYbA3 .media-with-text__text-wrapper {
          grid-column: 8 / span 5 !important;
        }
      }
    }
  </style>

  <div class="shopify-section__content content-wrapper">
    <%= partial "components/media-with-text" %>
  </div>
</section>

<section id="shopify-section-template--17841128014003__media_with_text_VfzraG" class="shopify-section shopify-section--media-with-text">
  <style>
    @layer components {
      #shopify-section-template--17841128014003__media_with_text_VfzraG {
        margin-top: calc(var(--spacing-unit-xl) * 0.75);
        margin-bottom: calc(var(--spacing-unit-xl) * 0.75);
        padding-top: calc(var(--spacing-unit-0) * 0.75);
        padding-bottom: calc(var(--spacing-unit-0) * 0.75);

        @media screen and (min-width: 768px),
        print {
          margin-top: var(--spacing-unit-xl);
          margin-bottom: var(--spacing-unit-xl);
          padding-top: var(--spacing-unit-0);
          padding-bottom: var(--spacing-unit-0);
        }
      }
    }
  </style>

  <style>
    @layer components {

      @media screen and (min-width: 768px),
      print {
        #shopify-section-template--17841128014003__media_with_text_VfzraG .media-with-text__image-wrapper {
          grid-column: 6 / span 7 !important;
        }

        #shopify-section-template--17841128014003__media_with_text_VfzraG .media-with-text__text-wrapper {
          grid-column: 1 / span 5 !important;
        }
      }
    }
  </style>

  <div class="shopify-section__content content-wrapper">
    <%= partial "components/media-with-text" %>
  </div>
</section>
