<ul class="mega-menu__list mega-menu__list--1 mega-menu__list--grid list-reset">

  <li class="mega-menu__item mega-menu__item--1" data-level_1_handle="by-brand">

    <span class="mega-menu__link mega-menu__link--1">By Brand</span>

    <ul class="mega-menu__list mega-menu__list--2 list-reset">

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/barbie" class="mega-menu__link mega-menu__link--2" title="Barbie">BARBIE</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/crayola" class="mega-menu__link mega-menu__link--2" title="Crayola">CRAYOLA</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/digimon" class="mega-menu__link mega-menu__link--2" title="Digimon">DIGIMON</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/dragon-ball" class="mega-menu__link mega-menu__link--2" title="Dragon Ball">DRAGON BALL</a>

      </li>

    </ul>

  </li>

  <li class="mega-menu__item mega-menu__item--1" data-level_1_handle="by-group">

    <span class="mega-menu__link mega-menu__link--1">By Group</span>

    <ul class="mega-menu__list mega-menu__list--2 list-reset">

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/baby" class="mega-menu__link mega-menu__link--2" title="Baby">Baby</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/kids" class="mega-menu__link mega-menu__link--2" title="Kids">Kids</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/boys-toys" class="mega-menu__link mega-menu__link--2" title="Boys">Boys' Toys</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/girls-toys" class="mega-menu__link mega-menu__link--2" title="Girls Toys">Girls Toys</a>

      </li>

    </ul>

  </li>

  <li class="mega-menu__item mega-menu__item--1" data-level_1_handle="by-type">

    <span class="mega-menu__link mega-menu__link--1">By Type</span>

    <ul class="mega-menu__list mega-menu__list--2 list-reset">

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/3-d-puzzles" class="mega-menu__link mega-menu__link--2" title="3-D Puzzles">3-D Puzzles</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/bath-toys" class="mega-menu__link mega-menu__link--2" title="Bath Toys">Bath Toys</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/board-games" class="mega-menu__link mega-menu__link--2" title="Board Games">Board Games</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/building-sets" class="mega-menu__link mega-menu__link--2" title="Building Sets">Building Sets</a>

      </li>

      <li class="mega-menu__item mega-menu__item--2">

        <a href="/collections/novelty-toys" class="mega-menu__link mega-menu__link--2" title="Novelty Toys">Novelty Toys</a>

      </li>

    </ul>

  </li>

</ul>